{
    "appVersion": null,
    "autoSave": true,
    "vernacularLang": [],
    "analysisLang": [],
    "audioInfo": {
        "field": "pronunciation",
        "lang": null,
        "path": "audio/"
    },
    "picturePath": "pictures/",
    "comprehensionOptions": {
        "setSize": 4
    },
    "listViewTemplate": {
        "columns": []
    },
    "detailViewTemplate": {
        "fields": [
            {
                "className": "LexEntry",
                "dataType": "MultiText",
                "displayName": "Word",
                "enabled": true,
                "fieldName": "lexicalUnit",
                "multiParagraph": false,
                "spellCheckingEnabled": false,
                "multiplicity": "ZeroOr1",
                "visibility": "Visible",
                "writingSystems": {
                    "id": [ "qaa-x-mep"]
                }
            },
            {
                "className": "LexEntry",
                "dataType": "MultiText",
                "displayName": "Citation Form",
                "enabled": false,
                "fieldName": "citation",
                "multiParagraph": false,
                "spellCheckingEnabled": false,
                "multiplicity": "ZeroOr1",
                "visibility": "NormallyHidden",
                "writingSystems": {
                    "id": ["qaa-x-mep"]
                }
            },
            {
                "className": "LexSense",
                "dataType": "MultiText",
                "displayName": "Definition",
                "enabled": true,
                "fieldName": "definition",
                "multiParagraph": false,
                "spellCheckingEnabled": true,
                "multiplicity": "ZeroOr1",
                "visibility": "Visible",
                "writingSystems": {
                    "id": [
                        "en",
                        "es"
                    ]
                }
            },
            {
                "className": "LexSense",
                "dataType": "MultiText",
                "displayName": "Gloss",
                "enabled": false,
                "fieldName": "gloss",
                "multiParagraph": false,
                "spellCheckingEnabled": true,
                "multiplicity": "ZeroOr1",
                "visibility": "Visible",
                "writingSystems": {
                    "id": [
                        "en",
                        "es"
                    ]
                }
            },
            {
                "className": "LexSense",
                "dataType": "Option",
                "displayName": "Grammatical Info",
                "enabled": true,
                "fieldName": "grammaticalInfo",
                "multiParagraph": false,
                "spellCheckingEnabled": false,
                "multiplicity": "ZeroOr1",
                "optionsRange": "grammatical-info",
                "visibility": "Visible",
                "writingSystems": {
                    "id": [
                        "en"
                    ]
                }
            }
        ]
    }
}