<div id="MainContainer">
    <div id="Toolbar">
        <button ng-click="quickPractice()" ng-disabled="selectedEntries.length<1"> Quick Practice</button>
        <button ng-click="EditConfiguration()">Options</button>
        <button ng-click="OpenProject()">Open Project</button>
        <button ng-click="SaveProject()" ng-disabled="!project.dirty">Save Project</button>
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <div id="decks">
        <button ng-click="addDeck()" ng-disabled="false">Add Deck</button>
        <button ng-click="addEntries()" ng-disabled="!activeDeck.active || selectedEntries < 1">Add Entries</button>
        <button ng-click="Practice()" ng-disabled="selectedDecks.length < 1">Practice</button>
        <button ng-click="exportDecks()" ng-disabled="selectedDecks.length < 1">Export Decks</button>
        <div ng-repeat="deck in project.decks" ng-include src="'partials/deck.html'">{{deck.name}}</div>
    </div>
    <div id="ModalBackground" class="hide" ng-class="{hide:!modal.showModal}">
    </div>
    <div id="PracticeWindow" class="hide" ng-class="{hide:!modal.showPractice}" ng-include
         src="'partials/PracticeWindow.html'"></div>
</div>