/* app css stylesheet */
html, body, #MainContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

#Toolbar {
    width: 100%;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#MainContainer {
    visibility: hidden;  
}

#MainSubContainer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 99%;
    height: 95%;
    margin: auto;
    border: 1px solid rgb(212, 212, 212);
    overflow: hidden;
}

.panelContainer {
    position: absolute;
    top: 3px;
    bottom: 0px;
    right: 0px;
    left: 3px;
}

#LiftDictionary {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}

#LiftDictionary .gridStyle {
    width: 100%;
    height: 96%;
}

.DictionaryLabel {
    font-weight: bold;
    font-size: 16px;
}

/*.ngHeaderContainer {
    height: 55px !important;
}*/

.ngGroupPanel {
    height: 30px !important;
}

.headerFilter {
    position: absolute;
    top: 29px;
}

.ngGrid .headerFilter input {
    width: 95%;
    left: 2px;
    height: 16px;
}

.ngTopPanel, .ngViewport, .ngFooterPanel {
    border: 1px solid rgb(212, 212, 212);
}

.dropdown-detail {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    min-width: 95%;
    padding: 4px 0;
    position: absolute;
    z-index: 10000;
}

#LiftDictionary .dropdown-detail {
    top: 100%;
}

.dropdown.open .dropdown-detail {
    display: block;
}

.dropdown-detail table {
    width: 100%;
}

.dropdown-detail td {
    vertical-align: top;
}

.label {
    background-color: #FFFFFF;
    color: black;
    text-shadow: 0 0 0;
    width: 20%
}

td.label {
    display: table-cell !important;
}

.senseLabel {
    font-weight: bold;
}

.lang {
    display: inline-block;
    width: 20%;
}

#RightPanel {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 50%;
    min-width: 100px;
    height: 100%%;
    overflow: auto;
}

#DeckImportExport {
    display: inline-block;
}

#DeckImportExport #DeckImportExportMenu {
    display: none;
    border: 1px solid lightgray;
    list-style-type: none;
    margin: 0;
	padding: 0;
    position: absolute;
}

#DeckImportExport:hover #DeckImportExportMenu {
    display: block;
}

#DeckImportExport #DeckImportExportMenu li {
    padding: 2px 7px;
    color: dimgray;
    font-size: 10px;
}

#DeckImportExport #DeckImportExportMenu li:hover {
    background-color: steelblue;
    color: white;
}

#CardSearchBox {
    display: inline-block;
    position: relative;
}

#CardSearchAllBox > input {
    height: 18px;
    width: 150px;
}

#CardSearchClear {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    right: 22px;
    background-image: url("../icons/onebit/onebit-33.png");
    background-size: 16px 16px;
}

#CardSearchAdvanced {
    position: absolute;
    top: 0;
    right: 0;
}

#CardSearchAdvancedToggle {
    width: 16px;
    height: 16px;
    margin: 5px;
    margin-top: 4px;
    background-image: url("../icons/onebit/onebit-39.png");
    background-size: 16px 16px;
}

#CardSearchAdvancedBox {
    display: none;
    position: absolute;
    right: 0;
    margin-top: -2px;
    background-color: white;
    z-index: 500;
}

#CardSearchAdvancedBox ul {
    border: 1px solid lightgray;
    list-style-type: none;
    margin: 0;
	padding: 5px 0px;
}

#CardSearchAdvanced:hover #CardSearchAdvancedBox {
    display: block;
}

#CardSearchAdvancedBox li {
    padding: 3px 7px;
}

#CardSearchAdvancedBox input {
    width: 161px;
}
.deck {
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}


.deck.dropBeforeZone {
    border-top: 2px solid black;
}

.deck.dropBeforeZone * {
    pointer-events: none;
}

.deck.dropZone {
    background-color: lightgray;
    border: 1px dashed black;
    opacity: 0.6;
}

.deck:hover .deckRemover, .card:hover .cardRemover {
    background-image: url("../icons/onebit/onebit-33.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
}

.deck .editDeckButton {
    display: none;
    font-style: italic;
    cursor: pointer;
}
.deck:hover .editDeckButton {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.deckExpander {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
}

.deckExpander.open {
    background-image: url("../icons/xp_icandy/open_folder_yellow.png");
}

.deckExpander.closed {
    background-image: url("../icons/xp_icandy/closed_folder_yellow.png");
}

.activeDeck > .deckName {
    background-color: steelblue;
    color: white;
}

.deckData {
    border-left: 1px dotted rgb(212, 212, 212);
    margin-left: 8px;
    padding-left: 10px;
}

.card {
    position: relative;
}

.card.selected {
    background-color: lightblue;
}

.deck.dropZone .card.selected {
    background-color: gray;
    color: white;
}

.cardExpander {
    background-image: url("../icons/onebit/onebit-39.png");
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

#CardView {
    height: 35%;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}

.cardViewEdit {
    height: 100%;
}

.cardHeader, .cardFooter {
    position: relative;
}

.cardHeader {
    height: 30%;
    left: 0;
    margin-right: 128px;
    overflow: auto;
}

.cardHeader .cardTools {
    right: 0px;
    top: 0px;
    position: absolute;
}

.cardViewEdit .cardPicture {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.cardViewEdit .cardPicture img {
    width: 120px;
    height: 120px;
}

.cardViewEdit .cardPicture .cardPictureOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 100%;
}

.cardViewEdit .cardPicture .cardPictureOverlay div {
    margin: auto;
}

.cardViewEdit .cardPicture #PictureRemoverPicture {
    display: none;
}

.cardViewEdit .cardPicture:hover #PictureRemoverPicture {
    background-image: url("../icons/onebit/onebit-33.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
}

.cardField #PictureRemoverForm, .cardField #AudioRemoverForm {
    display: none;
}

.cardField:hover #PictureRemoverForm, .cardField:hover #AudioRemoverForm {
    background-image: url("../icons/onebit/onebit-33.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.cardHeadword {
    display: inline-block;
    width: 55%;
    font-weight: bold;
}

.cardSense {
    margin-left: 10px;
}

.cardSense select {
    width: 40%;
}

.cardEditButton {
    display: none;
}

.card:hover .cardEditButton {
    display: inline-block;
}

.dropdown-detail.cardEdit {
    min-width: 80%;
    padding: 5px 7px;
}

.cardViewEdit .cardHeadword {
    font-size: 22px;
}

.cardViewEdit .cardFields {
    left: 0;
    padding-right: 128px;
}

.cardViewEdit .cardField {
    width: 100%;
    height: 24px;
    white-space: nowrap;
}

.cardField div.label {
    float: left;
    width: 15%;
    white-space: nowrap;
}

.cardField div.cardData {
    display: inline-block;
    width: 85%;
}

.cardField div.cardData input {
    width: 98%;
}

.cardField div.cardData select {
    width: 70%;
}

.cardField div.cardData button {
    width: 30px;
}

.cardEdit span.label {
    display: inline-block;
    width: 15%;
}

.cardEdit select {
    width: 50%;
}

.cardEdit input {
    width: 49%;
}

.cardFooter .dropdown-toggle, .cardFooter .showCardStatistics {
    display: inline-block;
}

#Decks {
    margin-top: 5px;
    height: 64%;
    width: 100%;
    display: table;
}

#DeckToolbar {
    height: 35px;
    margin-left: 10px;
    display: table-row;
}

#DeckList {
    height: 100%;
    overflow-y: auto;
}

.deck {
    margin-left: 10px;
}

.closeWindow {
    position: absolute;
    top: 0px;
    right: 0px;
}

#ModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 10000;
}

#ConfigWindow {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 10%;
    z-index: 10001;
}

#ConfigContainer {
    position: absolute;
    top: 0.5%;
    bottom: 0.5%;
    left: 0.5%;
    right: 0.5%;
}

#ConfigSaveCancelToolbar {
    width: 100%;
    height: 28px;
    border-bottom: lightgray;
}

#ConfigSettingsContainer {
    width: 100%;
    height: 94%;
    overflow-y: auto;
}

#LanguageConfig {
    position: relative;
    height: 200px;
    width: 100%;
}

#InterfaceLangConfig {
    width: 100%;
}

#VernacularLangConfig {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#AnalysisLangConfig {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#columnsConfig {
    position: relative;
    height: 180px;
    width: 100%;
}

#AvailableColumns {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#CurrentColumns {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#TaskSettings {
    position: relative;
}

#ConfigContainer .title {
    font-weight: bold;
}

#ConfigContainer .listbox {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#ConfigContainer .listbox select {
    height: 100%;
    width: 100%;
}

#ConfigContainer .buttons {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#ConfigContainer .buttons button {
    display: block;
}

#CardStatisticsWindow {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 2%;
    left: 1%;
    right: 1%;
    bottom: 2%;
    z-index: 10001;
    overflow: auto;
}

#CardStatistics {
    height: 100%;
}

#CardStatistics .cardSide1 {
    font-weight: bold;
}

#CardStatisticsGrid {
    height: 90%;
    width: 100%;
}

#CardStatisticsGrid .cardGridStyle {
    width: 99%;
    height: 100%;
}

#NewCardWindow, #DeckPropertiesEditor {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 25%;
    z-index: 10001;
    overflow: auto;
}

#NewCardWindowContainer, #DeckPropertiesContainer {
    padding: 15px;
    padding-top: 0px;
    width: 95%;
    height: 80%;
}

#NewCardWindowContainer .cardFields {
    height: 120px;
    width: 100%;
}

#NewCardCheckEntries {
    width: 100%;
    height: 45%;
}

#NewCardCheckEntries select {
    width: 80%;
    height: 80%;
}

.editDeckModes {
    list-style-type: none;
}

#SaveCardAlert, #DeleteDeckAlert {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 40%;
    right: 40%;
    bottom: 35%;
    padding: 10px;
    z-index: 10001;
    overflow: auto;
}

#PracticeWindow {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 2%;
    left: 1%;
    right: 1%;
    bottom: 2%;
    z-index: 10001;
    overflow: auto;
}

#PracticeWrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#ModeSelector {
    left: 0;
    position: absolute;
    top: 1px;
}

#ModeSelector span {
    border: 1px solid black;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin-left: 1px;
    padding: 0 10px;
    position: relative;
    top: 0;
}

#ModeSelector span.active {
    background: none repeat scroll 0 0 white;
    border-width: 2px 3px 0;
    font-weight: bold;
    padding-bottom: 1px;
    z-index: 1;
}

#ModeContent {
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
    right: 0;
    top: 23px;
}

#PracticeArea {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.practiceFinished {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: white;
	text-align: center;
    z-index: 20;
}

.practiceFinishedContainer {
	 margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;	
	font-size: 28px;
}

.practiceFinishedContainer ul {
    list-style-type: none;
}

#AssociationWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#AssociationWord button {
    margin-left: 5px;
}

#AssociationPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

#AssociationPicture img {
    width: 400px;
    height: 400px;
}

#AssociationPicture .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#AssociationFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#FlashCardArea {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    border: 1px solid black;
    min-height: 200px;
    max-height: 400px;
    position: relative;
    -webkit-user-select: none;
}

#FlashCardArea .flashCard {
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    width: 400px;
    min-height: 135px;
    max-height: 350px;
    text-align: center;
    background-color: white;
    font-size: 48px;

}

#FlashCardArea .side1 {
    font-weight: bold;
}

#FlashCardArea .playButton button {
    z-index: 10000;
}

#FlashCardAreaButton {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
}

#FlashCardArea .cardNumber {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
}

#FlashCardFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5px;
}

#FlashCardProgress {
    margin-top: 5px;
}

#ComprehensionWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#ComprehensionWord button {
    margin-left: 5px;
}

#PracticeCards {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

#ComprehensionFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.comprehensionCard {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.comprehensionCard img {
    width: 200px;
    height: 200px;
}

.comprehensionCard .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    min-height: 24px;
    line-height: 24px;
    width: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.comprehensionCard .answer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.comprehensionCard .answer.correct {
    background-image: url("../icons/onebit/onebit-34.png");
}

.comprehensionCard .answer.incorrect {
    background-image: url("../icons/onebit/onebit-33.png");
}

#MemoryGame {
	width: 100%;
	height:	100%;
}

#MemoryInfo {
	width: 100%;
	text-align: center;
}

#MemoryInfo span:first-child {
	display: inline-block;
	float: left;
}

#MemoryInfo span:last-child {
	display: inline-block;
	float: right;
}

#MemoryGrid {
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
}

#MemoryGrid .container {
  width: 150px;
  height: 150px;
  position: relative;
  -webkit-perspective: 800px;
}

#MemoryGrid .card {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .6s;
  -webkit-transform-style: preserve-3d;
	border: 1px solid black;
}

#MemoryGrid .card.flipped {
  -webkit-transform: rotateY( 180deg );
}

#MemoryGrid .card img, #MemoryGrid .card .wordLabel, #MemoryGrid .card .glossLabel {
  -webkit-backface-visibility: hidden;
}

#MemoryGrid .card img {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;	
}

#MemoryGrid .card .wordLabel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0px;
	width: 100%;
	height: 45px;
	margin: auto;
	font-family: "Charis SIL AmArea";
	font-size: 18pt;
	text-align: center;
	margin: auto;
}

#MemoryGrid .card .glossLabel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    min-height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#MemoryGrid .card.matched {
	opacity: 0.50;
}

#MemoryGrid .card.matched:hover {
	opacity: 1.0;
}

#MemoryGrid .card .front {
	background-color: black
}

#MemoryGrid .card .front img {
	position: absolute;
	background-color: steelblue;
}


#MemoryGrid .card .back {
  -webkit-transform: rotateY( 180deg );
}

#MemoryMessage {
  	width: 100%;
  	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.showGlossCheckbox {
    text-align: center;
}

#MatchingGame {
	width: 100%;
	height:	100%;
}

#MatchingGame #MemoryInfo {
    position: absolute;
    top: 0;
    left: 0;
}

#MatchingGame #MemoryInfo span {
    padding: 5px;
}

#MatchingGrid {
    position: relative;
	margin-left: auto;
	margin-right: auto;
	height:	90%;
}

#MatchingLeft {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    display: inline-block;
    z-index: 2;
}

#MatchingRight {
    position: absolute;
    top: 0px;
    left: 80%;
    width: 25%;
    height: 100%;
    z-index: 2;
}

.matchingLeftItem {
    position: relative;
}

.matchingLeftItem img {
    width: 125px;
    height: 125px;
    border: 1px solid black;
}

.matchingLeftItem:hover img {
    border-width: 2px;
    width: 123px;
    height: 123px;
}

.matchingLeftItem .wordLabel {
    position: absolute;
    left: 0px;
    bottom: 6px;
    min-height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.matchingRightItem {
    width: 100%;
    height: 125px;
    padding: 5px;
    font-size:32px;
}

.matchingRightItem:hover {
    font-weight: bold;
}

#MatchingLines {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.matchingLine {
    position: absolute;
    -webkit-transform-origin: 0 50%;
                 
    height: 5px; /* Line width of 3 */
    background: gray;
    z-index: 3;
}

.matchingLine.incorrect {
    background-color: crimson;
}

#DDGame {
	width: 100%;
	height:	100%;
    text-align: center;
}

#DDCurrentWord {
    font-family: "Charis SIL";
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#DDGrid {
	margin-left: auto;
	margin-right: auto;
    min-height: 500px;
    text-align: left;
}

#DDGrid .ddTile {
    position: relative;
    width: 150px;
    height: 150px;
    -webkit-transition: all linear .6s;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
}

.ddTile.ng-enter {
    -webkit-transition: all linear .5s;
}

.ddTile.ng-enter {
    opacity: 0;
}

.ddTile.ng-enter.ng-enter-active {
    opacity: 1;
}

#DDGrid .ddTile img {
    width: 100%;
    height: 100%;
}

#DDGrid .ddTile .glossLabel {
    position: absolute;
    left: 0px;
    bottom: 0px;
    min-height: 24px;
    line-height: 24px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;    
}

.ddTile .answer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.ddTile .answer.correct {
    background-image: url("../icons/onebit/onebit-34.png");
}

.ddTile .answer.incorrect {
    background-image: url("../icons/onebit/onebit-33.png");
}

#SpellingWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#SpellingWord button {
    margin-left: 5px;
}

#SpellingResponse, #SpellingAnswer {
    text-align: center;
}

#SpellingAnswer {
    font-size: 24px;
    font-weight: bold;
}

#SpellingResponse .answer {
    display: inline-block;
    margin-left: 5px;
    margin-top: -10px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: 36px 36px;
}

#SpellingResponse .answer.correct {
    background-image: url("../icons/onebit/onebit-34.png");
}

#SpellingResponse .answer.incorrect {
    background-image: url("../icons/onebit/onebit-33.png");
}

#SpellingPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: 350px;
}

#SpellingPicture img {
    width: 350px;
    height: 350px;
}

#SpellingFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#PronunciationWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#PronunciationSay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}

#PronunciationSay {
    text-align: center;
}

#PronunciationPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

#PronunciationPicture img {
    width: 400px;
    height: 400px;
}

#PronunciationPicture .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#PronunciationFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#recordPronunciationButton {
    color: red;
}
