<div style="height: 100%" draggable="true" ng-model="row"
     class="dropdown">
    <div class="dropdown-toggle" data-toggle="dropdown">
        <div ng-repeat="col in renderedColumns" class="ngCell col{{$index}} {{col.cellClass}}" ng-cell></div>
    </div>
    <div class="dropdown-detail">
        <div class="detailEntry">
            <table>
                <tr>
                    <td class="label">{{'_Word_' | i18n}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailWord" ng-repeat="form in row.entity.lexicalUnit.form">
                                <span class="lang">{{form.lang}}</span><span
                                    lang="{{form.lang}}">{{getMultiText(form.text.content)}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="field in row.entity.field">
                    <td class="label">{{field.type}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailWord" ng-repeat="form in field.form">
                                <span class="lang">{{form.lang}}</span><span
                                    lang="{{form.lang}}">{{getMultiText(form.text.content)}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="trait in row.entity.trait">
                    <td class="label">{{trait.name}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailSemDomain">
                                {{trait.value}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="detailSense" ng-repeat="sense in row.entity.sense">
            <div class="senseLabel">{{'_Sense_' | i18n}} {{$index + 1}}</div>
            <table>
                <tr ng-if="sense.grammaticalInfo">
                    <td class="label">{{'_PartOfSpeech_' | i18n}}</td>
                    <td>
                        <div class="detailData">{{sense.grammaticalInfo.value}}</div>
                    </td>
                </tr>
                <tr ng-if="sense.gloss">
                    <td class="label">{{'_Gloss_' | i18n}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailGloss" ng-repeat="gloss in sense.gloss">
                                <span class="lang">{{gloss.lang}}</span><span
                                    lang="{{gloss.lang}}">{{getMultiText(gloss.text.content)}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="sense.definition">
                    <td class="label">{{'_Definition_' | i18n}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailGloss" ng-repeat="definition in sense.definition.form">
                                <span class="lang">{{definition.lang}}</span><span
                                    lang="{{definition.lang}}">{{getMultiText(definition.text.content)}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="field in sense.field">
                    <td class="label">{{field.type}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailWord" ng-repeat="form in field.form">
                                <span class="lang">{{form.lang}}</span><span
                                    lang="{{form.lang}}">{{getMultiText(form.text.content)}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="trait in sense.trait">
                    <td class="label">{{trait.name}}</td>
                    <td>
                        <div class="detailData">
                            <div class="detailSemDomain">
                                {{trait.value}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>