/* app css stylesheet */
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

#MainContainer {
    width: 100%;
    height: 100%;
}

#Toolbar {
    width: 100%;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 49%;
    height: 95%;
    float: left;
}

.ngHeaderContainer {
    height: 55px !important;
}

.ngGroupPanel {
    height: 30px !important;
}

.headerFilter {
    position: absolute;
    top: 33px;
}

.dropdown-detail {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    min-width: 95%;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    z-index: 10000;
}

.dropdown.open .dropdown-detail {
    display: block;
}

.dropdown-detail table {
    width: 100%;
}

.dropdown-detail td {
    vertical-align: top;
}

.label {
    background-color: #FFFFFF;
    color: black;
    text-shadow: 0 0 0;
    width: 20%
}

td.label {
    display: table-cell !important;
}

.senseLabel {
    font-weight: bold;
}

.lang {
    display: inline-block;
    width: 20%;
}

#decks {
    float: right;
    width: 49%;
    height: 95%;
    border: 1px solid rgb(212, 212, 212);
    overflow: auto;
}

.deck {

}

.deck:hover .deckRemover, .card:hover .cardRemover {
    background-image: url("../icons/onebit/onebit-33.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.deckExpander {
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
}

.deckExpander.open {
    background-image: url("../icons/xp_icandy/open_folder_yellow.png");
}

.deckExpander.closed {
    background-image: url("../icons/xp_icandy/closed_folder_yellow.png");
}

.activeDeck > .deckName {
    background-color: blue;
    color: white;
}

.deckData {
    border-left: 1px dotted rgb(212, 212, 212);
    margin-left: 8px;
    padding-left: 10px;
}

.card {
    position: relative;
}

.cardExpander {
    background-image: url("../icons/onebit/onebit-39.png");
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.cardSense {
    margin-left: 10px;
}

.cardEditButton {
    display: none;
}

.card:hover .cardEditButton {
    display: inline-block;
}

.dropdown-detail.cardEdit {
    min-width: 67%;
    padding: 5px 7px;
}

.closeWindow {
    position: absolute;
    top: 0px;
    right: 0px;
}

#ModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 10000;
}

#ConfigWindow {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 5%;
    right: 5%;
    bottom: 10%;
    z-index: 10001;
}

#ConfigContainer {
    position: relative;
    margin: 0.5% auto;
    width: 99%;
    height: 99%;
}

#LanguageConfig {
    position: relative;
    height: 40%;
    width: 30%;
}

#VernacularLangConfig {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#AnalysisLangConfig {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#columnsConfig {
    position: relative;
    height: 30%;
    width: 40%;
}

#AvailableColumns {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#CurrentColumns {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#TaskSettings {
    position: relative;
    height: 10%;
}

#ConfigWindow .listbox {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 50%;
    height: 80%;
}

#ConfigWindow .listbox select {
    height: 100%;
    width: 100%;
}

#ConfigWindow .buttons {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 50%;
    height: 80%;
}

#ConfigWindow .buttons button {
    display: block;
}

#PracticeWindow {
    background-color: #ffffff;
    opacity: 1.0;
    position: absolute;
    margin: auto;
    top: 2%;
    left: 1%;
    right: 1%;
    bottom: 2%;
    z-index: 10001;
    overflow: auto;
}

#PracticeWrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#ModeSelector {
    left: 0;
    position: absolute;
    top: 1px;
}

#ModeSelector span {
    border: 1px solid black;
    display: inline-block;
    height: 21px;
    line-height: 21px;
    margin-left: 1px;
    padding: 0 10px;
    position: relative;
    top: 0;
}

#ModeSelector span.active {
    background: none repeat scroll 0 0 white;
    border-width: 2px 3px 0;
    font-weight: bold;
    padding-bottom: 1px;
    z-index: 1;
}

#ModeContent {
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    margin-top: 1px;
    position: absolute;
    right: 0;
    top: 23px;
}

#PracticeArea {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

#AssociationWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#AssociationWord button {
    margin-left: 5px;
}

#AssociationPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

#AssociationPicture img {
    width: 400px;
    height: 400px;
}

#AssociationPicture .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#AssociationFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#ComprehensionWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#ComprehensionWord button {
    margin-left: 5px;
}

#PracticeCards {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

#ComprehensionFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.comprehensionCard {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 5px;
}

.comprehensionCard img {
    width: 200px;
    height: 200px;
}

.comprehensionCard .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 24px;
    line-height: 24px;
    width: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.comprehensionCard .answer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
}

.comprehensionCard .answer.correct {
    background-image: url("../icons/onebit/onebit-34.png");
}

.comprehensionCard .answer.incorrect {
    background-image: url("../icons/onebit/onebit-33.png");
}

#SpellingWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#SpellingWord button {
    margin-left: 5px;
}

#SpellingResponse, #SpellingAnswer {
    text-align: center;
}

#SpellingPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

#SpellingPicture img {
    width: 400px;
    height: 400px;
}

#SpellingFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#PronunciationWord {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

#PronunciationSay {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}

#PronunciationSay {
    text-align: center;
}

#PronunciationPicture {
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: relative;
}

#PronunciationPicture img {
    width: 400px;
    height: 400px;
}

#PronunciationPicture .label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#PronunciationFooter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#recordPronunciationButton {
    color: red;
}
