<div class="dropdown card" ng-model="card" draggable="true" ng-controller="CardListView">
    <span class="cardExpander"></span>
    <span class="cardHeadword">{{card.properties.side1}}</span>
    <span class="cardSense">
        <select ng-model="card.properties" ng-change="changeCard()"
                ng-options="obj.side2 group by obj.type for obj in possibilities">
        </select>
    </span>
    <span class="dropdown-toggle cardEditButton" data-toggle="dropdown">Edit </span>
    <span class="cardRemover" ng-click="removeCard(deck, $index)"></span>

    <div class="dropdown-detail cardEdit">
        <div>
            <span class="label">Side 1:</span>
            <input lang="{{project.config.vernacularLang[0]}}" ng-model="side1Edit" ng-change="cardChanged = true;"/>
        </div>
        <div>
            <span class="label">Side 2:</span>
            <input lang="{{project.config.analysisLang[0]}}" ng-model="side2Edit" ng-change="cardChanged = true;"/>
        </div>
        <div>
            <span class="label">Picture:</span>
            <select ng-model="pictureEdit" ng-change="cardChanged = true;"
                    ng-options="pic.path as pic.display for pic in pictureList">
            </select>
            <button ng-click="BrowsePicture();">...</button>
        </div>
        <div>
            <span class="label">Audio:</span>
            <select ng-model="audioEdit" ng-change="cardChanged = true;"
                    ng-options="audio.path as audio.display for audio in audioList">
            </select>
            <button ng-click="BrowseAudio();">...</button>
        </div>
        <div>
            <button ng-click="saveCard()" ng-disabled="!cardChanged">Save Card</button>
        </div>
    </div>
</div>