<!doctype html>
<html lang="en" ng-app="VocabManagerConfig">
<head>
    <meta charset="utf-8">
    <title>Configuration Options</title>
    <link rel="stylesheet" href="../css/app.css"/>
</head>
<body ng-controller="ConfigureCtrl">
<div id="ConfigContainer">
    <div id="ProjectManagementSettings"><input type="checkbox" ng-model="config.autoSave"/>Save changes to project
        automatically.
    </div>
    <div id="LanguageConfig">
        <span>Languages</span>

        <div id="VernacularLangConfig">
            <div class="title">Vernacular Language:</div>
            <div class="listbox">
                <select multiple="true" ng-model="selectedVernacular"
                        ng-options="lang as getLanguageName(lang) for lang in config.vernacularLang">
                </select>
            </div>
            <div class="buttons">
                <button ng-click="MoveItemUp(config.vernacularLang, selectedVernacular)">Up</button>
                <button ng-click="MoveItemDown(config.vernacularLang, selectedVernacular)">Down</button>
            </div>
        </div>
        <div id="AnalysisLangConfig">
            <div class="title">Analysis Language:</div>
            <div class="listbox">
                <select multiple="true" ng-model="selectedAnalysis"
                        ng-options="lang as getLanguageName(lang) for lang in config.analysisLang">
                </select>
            </div>
            <div class="buttons">
                <button ng-click="MoveItemUp(config.analysisLang, selectedAnalysis)">Up</button>
                <button ng-click="MoveItemDown(config.analysisLang, selectedAnalysis)">Down</button>
            </div>
        </div>
    </div>
    <div id="columnsConfig">
        <div class="title">Columns</div>
        <div id="AvailableColumns">
            <div class="title">Available:</div>
            <div class="listbox">
                <select multiple="true" ng-model="selectedAvailableColumn"
                        ng-options="col.displayName for col in project.defaultColumns">
                </select>
            </div>
            <div class="buttons">
                <button ng-click="addColumn()" ng-disabled="!selectedAvailableColumn" title="Add Column(s)">
                    -&gt;</button>
            </div>
        </div>
        <div id="CurrentColumns">
            <div class="title">Current:</div>
            <div class="listbox">
                <select multiple="true" ng-model="selectedCurrentColumn"
                        ng-options="col.displayName for col in configListColumns">
                </select>
            </div>
            <div class="buttons">
                <button ng-click="MoveItemUp(configListColumns, selectedCurrentColumn)">Up</button>
                <button ng-click="MoveItemDown(configListColumns, selectedCurrentColumn)">Down</button>
                <button ng-click="removeColumn()" ng-disabled="!selectedCurrentColumn">Remove</button>
            </div>
        </div>
        <!--<div>
            Writing System:
            <select ng-model="selectedCurrentColumn[0].writingSystemId" ng-options="lang for lang in selectedLangOptions"></select>
        </div>-->
    </div>
    <div id="TaskSettings">
        <div class="title">Comprehension Setup</div>
        <div>
            <span>Number of cards per set: </span><input type="text" ng-model="config.comprehensionOptions.setSize"/>
        </div>
    </div>
    <button ng-click="closeConfigAndSave();">
        OK
    </button>
    <button ng-click="resetConfig(); closeConfig();">Cancel</button>
</div>
<script src="../lib/helpers.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/angular/angular.js"></script>

<script>
    // Declare app level module which depends on filters, and services
    angular.module('VocabManagerConfig', []);

    function ConfigureCtrl($scope, $filter) {
        $scope.resetConfig = function () {
            $scope.project = window.arguments[0];
            $scope.config = angular.copy($scope.project.config);
            $scope.configListColumns = window.arguments[1];

            $scope.selectedAvailableColumn = null;
            $scope.selectedCurrentColumn = null;
        };

        $scope.MoveItemUp = function (list, index) {
            if (list && Array.isArray(list)) {
                var j;
                var first = list.indexOf(index[0]);
                if (first > 0) {
                    for (var i = 0; i < index.length; i++) {
                        j = list.indexOf(index[i]);

                        if (j > 0) {
                            list.move(j, j - 1);

                        }
                    }
                }
            }
        };

        $scope.MoveItemDown = function (list, index) {
            if (list && Array.isArray(list)) {
                var j;
                var last = list.indexOf(index[index.length - 1]);
                if (last < list.length - 1) {
                    for (var i = index.length - 1; i > -1; i--) {
                        j = list.indexOf(index[i]);

                        if (j < list.length - 1) {
                            list.move(j, j + 1);

                        }
                    }
                }
            }
        };

        $scope.resetConfig();
        //$scope.selectedLangOptions = $scope.liftObject.langs;

        $scope.addColumn = function () {
            if ($scope.selectedAvailableColumn) {
                var pos;
                if ($scope.selectedCurrentColumn) {
                    pos = $scope.configListColumns.indexOf($scope.selectedCurrentColumn[$scope.selectedCurrentColumn.length - 1]);
                }
                else {
                    pos = $scope.configListColumns.length;
                }
                for (var i = 0; i < $scope.selectedAvailableColumn.length; i++) {
                    var col = $scope.selectedAvailableColumn[i];
                    switch (col.writingSystemId) {
                        case "qaa":
                            col.writingSystemId = $scope.config.vernacularLang[0];
                            break;
                        case "analysis":
                            col.writingSystemId = $scope.config.analysisLang[0];
                            break;
                        case "qaa-Zxxx-x-audio":
                            if ($scope.project.liftObject.weSayAudioLang) {
                                col.writingSystemId = $scope.project.liftObject.weSayAudioLang;
                            }
                            break;
                    }

                    $scope.configListColumns.splice(pos + i, 0, col);
                }
            }
        };

        $scope.removeColumn = function () {
            if ($scope.selectedCurrentColumn) {
                for (var i = 0; i < $scope.selectedCurrentColumn.length; i++) {
                    $scope.configListColumns.splice($scope.configListColumns.indexOf($scope.selectedCurrentColumn[i]), 1);
                }
                $scope.selectedCurrentColumn.length = 0;
                $scope.selectedCurrentColumn = null;
            }
        };

        $scope.getLanguageName = function (lang) {
            if (lang) {
                var ws = $filter('filter')($scope.config.writingSystems, {language: lang})[0];
                return ws.languageName;
            }
        }

        $scope.closeConfig = function () {
            window.close();
        };

        $scope.closeConfigAndSave = function () {
            window.arguments[2]($scope.config, $scope.configListColumns);
            window.close();
        };
    }

    ConfigureCtrl.$inject = ['$scope', '$filter'];
</script>

</body>
</html>
