<div id="PracticeWrapper">
    <div class="closeWindow">
        <button ng-click="modal.showPractice=false; modal.showModal=false; practice.started=false;">x</button>
    </div>
    <div id="ModeSelector">
        <span ng-click="practice.mode='Association'" ng-class="{active:practice.mode=='Association'}">Association</span>
        <span ng-click="practice.mode='Comprehension'"
              ng-class="{active:practice.mode=='Comprehension'}">Comprehension</span>
        <span ng-click="practice.mode='Spelling'" ng-class="{active:practice.mode=='Spelling'}">Spelling</span>
        <!--<span ng-click="practiceMode='Pronunciation'" ng-class="{active:practiceMode=='Pronunciation'}">Pronunciation</span>-->
    </div>
    <div id="ModeContent">
        <div id="PracticeArea">
            <div ng-switch on="practice.mode">
                <div ng-switch-when="Association" ng-controller="AssociationPractice">
                    <div ng-hide="practice.started">
                        <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        <button ng-click="setupAssociation()">Begin</button>
                    </div>
                    <div ng-show="practice.started">
                        <audio id="associationAudio" hidden="true" ng-src="{{currentSet.properties.audio}}"></audio>
                        <div id="AssociationWord">
                            <span>{{currentSet.properties.side1}}</span>
                            <button ng-click="playAudioWord('associationAudio')">▶</button>
                        </div>
                        <div id="AssociationPicture">
                            <img ng-src="{{currentSet.properties.picture}}" ng-show="currentSet.properties.picture"/>

                            <div class="label" ng-show="showGloss">{{currentSet.properties.side2}}</div>
                        </div>
                        <div id="AssociationFooter">
                            <div id="AssociationNav">
                                <button ng-click="prevSet()">Previous</button>
                                <button ng-click="nextSet()">Next</button>
                            </div>
                            <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Comprehension" ng-controller="ComprehensionPractice">
                    <div ng-hide="practice.started">
                        <span>Number of cards per set: </span><input type=text
                                                                     ng-model="project.config.comprehensionOptions.setSize"/>

                        <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        <div>
                            <button ng-click="setupComprehension()"
                                    ng-disabled="practiceCards.length < project.config.comprehensionOptions.setSize">
                                Begin
                            </button>
                            <div class="practiceSetupWarning"
                                 ng-show="practiceCards.length < project.config.comprehensionOptions.setSize">*Please
                                set "Numbers of cards per set" to less than or equal to the number of cards in the
                                currently selected deck(s): {{practiceCards.length}}
                            </div>
                        </div>
                    </div>
                    <div ng-show="practice.started">
                        <audio id="wordAudio" hidden="true" ng-src="{{currentSet.set.item.properties.audio}}"></audio>
                        <div id="ComprehensionWord">{{currentSet.set.item.properties.side1}}
                            <button ng-click="playAudioWord('wordAudio')">▶</button>
                        </div>
                        <div id="PracticeCards">
                            <div class="comprehensionCard " ng-repeat="card in currentSet.set.group"
                                 ng-click="attempt(card.guid)">
                                <img ng-src="{{card.properties.picture}}" ng-show="card.properties.picture"/>

                                <div class="label" ng-show="showGloss">{{card.properties.side2}}</div>
                                <div class="answer"
                                     ng-class="{correct:isCorrect(card.guid), incorrect:!isCorrect(card.guid)}"
                                     ng-show="currentSet.attempted"></div>
                            </div>
                        </div>
                        <div id="ComprehensionFooter">
                            <div id="ComprehensionNav">
                                <button ng-click="prevSet()">Previous</button>
                                <button ng-click="nextSet()">Next</button>
                            </div>
                            <div id="ComprehensionProgress">
                                Completed: {{completed}} of {{practiceCards.length}} Correct: {{correct}} Incorrect:
                                {{incorrect}}
                            </div>
                            <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="Spelling" ng-controller="SpellingPractice">
                    <div ng-hide="practice.started">
                        <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        <button ng-click="setupSpelling()">Begin</button>
                    </div>
                    <div ng-show="practice.started">
                        <audio id="spellingAudio" hidden="true" ng-src="{{currentSet.properties.audio}}"></audio>
                        <div id="SpellingWord">
                            <span ng-show="showGloss">{{currentSet.properties.side2}}</span>
                            <button ng-click="playAudioWord('spellingAudio')">▶</button>
                        </div>
                        <div id="SpellingResponse">
                            <span>Answer:</span>

                            <form ng-submit="check()">
                                <input ng-model="answer" lang="{{spellingLang}}"/>
                                <input type="submit" value="Check"/>
                                <span class="answer"
                                      ng-class="{correct:currentSet.response == 'correct', incorrect:currentSet.response == 'incorrect'}"
                                      ng-show="currentSet.response"></span>
                            </form>
                        </div>
                        <div id="SpellingAnswer" ng-show="currentSet.attempts">
                            {{currentSet.properties.side1}}
                        </div>
                        <div id="SpellingPicture">
                            <img ng-src="{{currentSet.properties.picture}}" ng-show="currentSet.properties.picture"/>
                        </div>
                        <div id="SpellingFooter">
                            <div id="SpellingNav">
                                <button ng-click="prevSet()">Previous</button>
                                <button ng-click="nextSet()">Next</button>
                            </div>
                            <div id="SpellingProgress">
                                Completed: {{completed}} of {{practiceCards.length}} Correct: {{correct}} Incorrect:
                                {{incorrect}}
                            </div>
                            <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        </div>
                    </div>
                </div>
                <!--<div ng-switch-when="Pronunciation" ng-controller="PronunciationPractice">
                    <div ng-hide="practice.started">
                        <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        <button ng-click="setupPronunciation()">Begin</button>
                    </div>
                    <div ng-show="practice.started">
                        <audio id="pronWordAudio" hidden="true" ng-src="{{currentSet.properties.audio}}"></audio>
                        <audio id="pronSayAudio" controls></audio>
                        <div id="PronunciationWord">
                            <span>{{currentSet.properties.side1}}</span>
                            <button ng-click="playAudioWord('pronWordAudio')">▶</button>
                        </div>
                        <div id="PronunciationSay">
                            <div>Recording:</div>
                            <span ng-switch on="audioStatus">
                                <button ng-switch-when="stopped" id="recordPronunciationButton" ng-click="recordAudio()">⚫</button>
                                <button ng-switch-when="recording" ng-click="stopRecordAudio()">■</button>
                            </span>
                            <button ng-disabled="audioStatus=='recording'" ng-click="playAudioWord('pronSayAudio')">▶</button>
                        </div>
                        <div id="PronunciationPicture">
                            <img ng-src="{{currentSet.properties.picture}}" ng-show="currentSet.properties.picture"/>
                            <div class="label" ng-show="showGloss">{{currentSet.properties.side2}}</div>
                        </div>
                        <div id="PronunciationFooter">
                            <div id="PronunciationNav">
                                <button ng-disabled="audioStatus=='recording'" ng-click="prevSet()">Previous</button>
                                <button ng-disabled="audioStatus=='recording'" ng-click="nextSet()">Next</button>
                            </div>
                            <div><input type="checkbox" ng-model="showGloss"/> Show glosses</div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>